<div class="form-group">

        <div class = "row">
        <div class="col-sm-12"><hr/></div>
        </div>

        <div class="row">
            <div class="col-sm-10"><h4>{{service.label}}</h4></div>

            <div class="col-sm-2  text-right">{{(service.scEntry.stitchInfo.add_cost > 0 ) ?  
                (service.scEntry.stitchInfo.add_cost | currency) : ''}}</div>    
        </div>    
        <div class="row">
            <div class="col-sm-10">
                <div ng-repeat="stitchInfo in service.data">
                    <input 
                        type="radio" 
                        ng-value="stitchInfo.stitch" 
                        ng-model="service.scEntry.model.stitch" 
                        ng-change="itemSelected(stitchInfo, service)"  
                        />

                    <label for="option-{{$index}}">{{stitchInfo.label}}</label>
                    <div class="animate-switch-container" ng-show="isActive(stitchInfo.stitch, service)" >
                        <div   ng-switch="service.scEntry.model.stitch" >
                            <div ng-switch-when="STANDARD">
                                <div class="row">
                                    <ng-form name="stitchForm">                                        
                                        <fieldset class="form-group">                                          
                                            <div ng-repeat="measurement in service.measConfigs.fields" >
                                                <div class="clearfix" ng-if="$index % 3 == 0"></div>    
                                                <div class="col-xs-4">
                                                    <div>{{measurement.label}}</div>
                                                    <select 
                                                        name="{{measurement.code}}" 
                                                        class="input-medium" 
                                                        style="width: 100px;" 
                                                        ng-options="o as o for o in measurement.options" 
                                                        ng-model="service.scEntry.model.data[measurement.code]" 
                                                        required>
                                                        <option value="" ng-selected="selected">Select</option>
                                                    </select>
                                                    <div ng-messages="stitchForm[''+measurement.code].$error" ng-if="stitchForm[''+measurement.code].$dirty && stitchForm[''+measurement.code].$invalid" class="validation-error">
                                                        <div ng-message="required">Please select a size</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </ng-form>
                                </div>
                            </div>
                            <div ng-switch-when="CUSTOM" class="indented">
                                <ng-form name="customStitchForm">
                                    <label>
                                        <input type="radio" ng-model="service.scEntry.model.customOption" value="email" ng-change='customItemSelected(service)'>
                                        Send me request for measurement by email after checkout
                                    </label><br/>
                                    <label>
                                        <input type="radio" ng-model="service.scEntry.model.customOption" value="profile" ng-change='customItemSelected(service)'> 
                                        Select measurement from my stored profile
                                    </label><br/>
                                </ng-form>
                                <div ng-switch="service.scEntry.model.customOption" >
                                    <div ng-switch-when="profile">
                                        <div ng-if="!isAuthenticated()"><i class="fa fa-user"></i><button type="button" class="btn btn-link" ng-click="login(service)">Sign In</button> to provide custom measurement. to pick your profile</div>
                                        <div ng-if="isAuthenticated()">
                                            <span>
                                                <select style="width: 220px;" 
                                                        ng-options="itemoption as itemoption.profile_name for itemoption in service.measConfigs track by itemoption._id"  
                                                        ng-model="service.measConfigModel" 
                                                        ng-change="customMeasurementSelected(service)"
                                                        required>
                                                        <option value="">Select a profile</option>  
                                                </select>
                                                <button type="button" class="btn btn-sm" ng-click="addUpdateMeasurement(service, 'EDIT')" ng-disabled="!service.scEntry.model.data">View/Update Profile</button>
                                            </span>
                                            &nbsp; <button type="button" class="btn btn-link" ng-click="addUpdateMeasurement(service, 'ADD')"  >Add New Profile</button>
                                        </div>
                                    </div>
                                </div>
<!-- 
                             <button type="button" class="btn btn-link" ng-click="openLoginDialog">Sign In</button> to provide custom measurement. </div> -->
                          </div>
                        </div>  
                    </div>    
                    
                </div>
            </div>    
            <div class="col-sm-2"></div>
        </div>    

</div>

