
<div class="row">
    <div class="col-sm-12">
        <form name="detailForm">
            <legend>Contact Info</legend>
            <alert ng-repeat="alert in alerts.detail" type="{{alert.type}}" close="closeAlert('detail', $index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.first)}">
                <label class="control-label" for="first">First Name:</label>
                <input type="text" name="first" id="first" class="form-control" ng-model="userDetail.first" required>
                <span class="help-block" ng-show="showError(detailForm.first, 'required')">This field is required</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.middle)}">
                <label class="control-label" for="middle">Middle Name:</label>
                <input type="text" name="middle" id="middle" class="form-control" ng-model="userDetail.middle">
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.last)}">
                <label class="control-label" for="last">Last Name:</label>
                <input type="text" name="last" id="last" class="form-control" ng-model="userDetail.last" required>
                <span class="help-block" ng-show="showError(detailForm.last, 'required')">This field is required</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.address1)}">
                <label class="control-label" for="address1">Address Line 1:</label>
                <input type="text" name="address1" id="address1" class="form-control" ng-model="userDetail.address1">
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.address2)}">
                <label class="control-label" for="address2">Address Line 2 (Optional):</label>
                <input type="text" name="address2" id="address2" class="form-control" ng-model="userDetail.address2">
            </div>  
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.city)}">
                <label class="control-label" for="city">City:</label>
                <input type="text" name="city" id="city" class="form-control" ng-model="userDetail.city">
            </div>               
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.state)}">
                <label class="control-label" for="state">State:</label>
                <select name="state" id="state" data-ng-options="name as item for abbreviation in states" data-ng-model="userDetail.state">
            </div> 
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.phone)}">
                <label class="control-label" for="phone">Phone:</label>
                <input type="text" name="phone" id="phone" class="form-control" ng-model="userDetail.phone">
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.zip)}">
                <label class="control-label" for="zip">Zip:</label>
                <input type="text" name="zip" id="zip" class="form-control" ng-model="userDetail.zip">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-update btn-default" ng-disabled="!canSave(detailForm)" ng-click="submit(detailForm)">Continue</button>
            </div>
        </form>
    </div>
</div>


