<div class="form-group">
<h2 class="title text-center">Billing Info</h2>
    <form name="registrationForm" novalidate
          ng-submit="registration.submit(registrationForm.$valid)">
        <div class="form-group" validate-form>
            <label>User Name</label><span class="isRequired">*</span>
            <input type="text" name="username" class="form-control" ng-model="registration.user.username" required ng-minlength="4" />
            <div ng-if="registrationForm.username.$invalid && !registrationForm.username.$pristine" ng-messages="registrationForm.username.$error" ng-messages-include="messages.html"></div>
        </div>
        <div class="form-group" validate-form>
            <label>Password</label><span class="isRequired">*</span>
            <input type="password" name="password" class="form-control" ng-model="registration.user.password" required />
            <div ng-if="registrationForm.password.$invalid && !registrationForm.password.$pristine" ng-messages="registrationForm.password.$error" ng-messages-include="messages.html"></div>
        </div>
        <div class="form-group" validate-form>
            <label>Confirm Password</label><span class="isRequired">*</span>
            <input type="password" name="confirmPassword" class="form-control"
                   ng-model="registration.user.confirmPassword"
                   required compare-to="registration.user.password" />
            <div ng-if="registrationForm.confirmPassword.$invalid && !registrationForm.confirmPassword.$pristine" ng-messages="registrationForm.confirmPassword.$error" ng-messages-include="messages.html"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="!registrationForm.$valid">Register!</button>
        </div>
    </form>


</div>

