<section ng-controller="CheckoutCtrl">
    <div class="container" ng-show="showCheckoutType()">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="login-form"><!--login form-->
                            <h2>Sign in to enjoy faster, easier checkout.</h2>
                                <div ui-view="signin"></div>
                        </div><!--/login form-->
                    </div>
                    <div class="col-sm-1">
                        <h2 class="or">OR</h2>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-update btn-default"  
                                    ng-click="isGuestCheckOutActivated = true">Checkout as Guest</button>
                        </div>            

                    </div>
                </div>
            </div>    
        </div> 
    </div>
    <div class="container" ng-hide="showCheckoutType()">
        <form   name="checkoutForm"  
                ng-class="{'submitted': submitted}" 
                ng-submit="checkOut(checkoutForm.$valid)" 
                novalidate > 
            <div class="row">
                <div class="col-md-6 padding-right">
                    <!-- Begin:Type of Checkout Login or Guest -->

                    <!--End:Type of Checkout Login or Guest -->
                    <uib-accordion close-others="true">

                        <div uib-accordion-group class="panel-default" heading="Shipping Info" is-open="true">
                            <div class="row">
                                <div class="col-md-8" ng-if="resolveShip.resolveObj.ready">
                                    <address  resolve='resolveShip'></address>
                                </div>
                                <div class="col-md-2"><button class="btn btn-default" ng-click="updateAddress('Shipping')">Change</button></div>    
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default" heading="Payment Info">

                           <payment-method paymentInfo='order.paymentInfo'></payment-method>

                            <div class="row">
                                <div class="col-md-8" ng-if="resolveBill.resolveObj.ready">
                                    <address  resolve='resolveBill'></address>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-default" 
                                            ng-click="updateAddress('Billing')">Change</button></div>  
                                </div>    
                            </div>  
                        </div>
                    </uib-accordion>   
                </div>
                <div class="col-md-6">
                    <div class="row">    
                        <div class="col-md-12" ui-view="cartreview"></div> 
                        <div ui-view="ordersummary"></div> 
                    </div>    
                </div>
            </div>
        </form>
    </div>
</section>