<div class="row" id="admin-users-index">
    <div class="col-xs-12">
<!--         <div class="page-header">
            <form class="form-inline pull-right" name="addUserForm">
                <div class="input-group">
                    <input name="username" type="text" placeholder="enter a username" class="form-control" ng-model="username" required>
                    <button type="button" class="btn btn-primary" ng-disabled="!canSave(addUserForm)" ng-click="addUser()">Add New</button>
                </div>
            </form>
            <h1>Users</h1>
        </div> 
        <form class="filters">
            <div class="row">

                <div class="col-sm-3">
                    <label>Profile</label>
                    <select name="roles" class="form-control" ng-model="filters.roles" ng-model-options="{ debounce: 500 }" ng-options="role.value as role.label for role in roles"  ng-change="filtersUpdated()">
                        <!--<option value="">any</option>-->
                        <!--<option value="admin">admin</option>-->
                        <!--<option value="account">account</option>-->
<!--                     </select>
               </div>
                
                <div class="col-sm-2">
                    <label>Measurement Type</label>
                    <select name="limit" class="form-control" ng-model="filters.limit" ng-model-options="{ debounce: 500 }" ng-options="limit.value as limit.label for limit in limits" ng-change="filtersUpdated()">
                        <!--<option value="10">10 items</option>-->
                        <!--<option value="20" selected="selected">20 items</option>-->
                        <!--<option value="50">50 items</option>-->
                        <!--<option value="100">100 items</option>-->
<!--                     </select>
                </div>
            </div>
        </form> -->
  <!--       <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Profile</th>
                    <th class="stretch">Measurement Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measurement in measurements">
                    <td><a class="btn btn-default btn-sm" ng-href="/admin/users/{{measurement._id}}">Edit</a></td>
                    <td ng-bind="measurement.profile_name"></td>
                    <td ng-bind="measurement.measurement_id"></td>
                    <td ng-bind="measurement.measurements"></td>
                </tr>
                <tr ng-show="users.length === 0">
                    <td colspan="5">no matching measurements</td>
                </tr>
            </tbody>
        </table> -->
<br/>
        <div ui-grid="gridOptions" ui-grid-selection class="grid" style="height: 250px;"></div>
<br/>

    </div>
</div>

