<div class="container" style="min-height: 600px">
  <div class="row" id="account" >
    <div class="col-sm-3">
      <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist" style="width:75%">
          <li ng-class="{'active': view_tab == 'infoTab'}">
              <a class="btn-xs" ng-click="changeTab('infoTab')" href="">Update Account Info</a>
          </li>        
          <li ng-class="{'active': view_tab == 'identityTab'}">
              <a class="btn-xs" ng-click="changeTab('identityTab')" href="">Update Username/Password</a>
          </li>
          <li ng-class="{'active': view_tab == 'orderTab'}">
              <a class="btn-xs" ng-click="changeTab('orderTab')" href="">Order History</a>
          </li>           
          <li ng-class="{'active': view_tab == 'addressTab'}">
              <a class="btn-xs" ng-click="changeTab('addressTab')" href="">Address Book</a>
          </li>          
          <li ng-class="{'active': view_tab == 'measurementTab'}">
              <a class="btn-xs" ng-click="changeTab('measurementTab')" href="">Measurements</a>
          </li>    
      </ul>
      <div ng-if="social">
          <div  ng-show='displayContShop()'>
              <button type="button" class="btn btn-primary" ng-click="contShop()">
                          <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
              </button>
              <hr>
          </div>           
      </div>
    </div>
    <div class="col-sm-9">

      <div class="tab-pane" data-ng-show="view_tab === 'infoTab'">
        <div ui-view="settings"></div>   
      </div> 
      <div class="tab-pane" data-ng-show="view_tab === 'identityTab'">
        <div ui-view="identity"></div>   
      </div>                         
      <div class="tab-pane" data-ng-show="view_tab === 'orderTab'">
        Order History
      </div> 
      <div class="tab-pane" data-ng-show="view_tab === 'addressTab'">
        <div ui-view="addresses"></div>
      </div> 
      <div class="tab-pane" data-ng-show="view_tab === 'measurementTab'">
          <div ui-view="measurements"></div>
      </div>
    </div>
  </div>
</div>





  