<!-- Insert all variations -->
<div ng-if="hasVariations">
    <div ng-repeat="variation in product.variations">
        <div ng-if="variation.component._id == 'standard-sizing'">
            <standardsizing variation='variation'></standardsizing>
        </div>
    </div>  
</div>

<!-- Insert all services -->
<div ng-if="hasServices">
    <div ng-repeat="service in product.services">
        <div ng-if="service.component._id == 'stitching-service'">
            <stitchingservice service='service' index='$index'></stitchingservice>
        </div>
    </div>  
</div>


